{% extends 'template/base.html' %}
{% load static %}

{% block content %}


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--  plotly JS Files  -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
</head>

<div>
    <img src={% static "plot/images/abstract.png" %} class="d-block mx-auto img-fluid w-75" alt="img"/>
</div>


<body>
    {% autoescape off %}
    {{ graph1 }}　
    <!-- HTMLコードの文字列が格納されたコンテキスト -->
    {% endautoescape %}
</body>

<body>
    {% autoescape off %}
    {{ graph2 }}　
    <!-- HTMLコードの文字列が格納されたコンテキスト -->
    {% endautoescape %}
</body>

</html>
{% endblock %}
