{% extends 'template/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--  plotly JS Files  -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
</head>

<body>
    <a>株価(AAPL)</a>
    {% autoescape off %}
    {{ graph }}　
    <!-- HTMLコードの文字列が格納されたコンテキスト -->
    {% endautoescape %}
</body>

</html>
{% endblock %}
