{% load static %}

<!doctype html>
<html lang="ja">
<title>demo</title>
<head>
    <!-- Bootstrap用CSSの読み込み -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Bootstrap用JavaScriptの読み込み -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src = {% static "Section/bootstrap_save_tabs.js" %}></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap" rel="stylesheet">
    {% block title %}
    {% endblock%}
    {% block extrahead %}
    {% endblock %}

    <!-- meta charset = 'utf-8'-->
    <link rel = 'stylesheet' type = 'text/css'
    href = "{% static 'Section/css/style.css' %}"/>
</head>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">DEMO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/Section">鋼材許容応力度</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/glassdesign">ガラス変位/応力度</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Section/list">鋼材データ</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/plot">plot(許容応力度)</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/plot/wall">plot(変位量/応力度)</a>
        </li>
        
        
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<body>
    <div class = container-xxl>
        <div class="container">
                {% block content %}
                {% endblock %}
        </div>
    </div>
</body>